:root {
  --btn-primary-color: rgb(35, 127, 219);
  --btn-secondary-color: rgb(159, 185, 220);
  --btn-acsent-color: rgb(1, 89, 176);
  --btn-text-color: whitesmoke;
  --secondary-color: rgb(181, 181, 181);
  --table-bg: rgb(242, 242, 242);
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

header {
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  min-height: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

button {
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

body button:hover {
  background-color: var(--btn-acsent-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.highscores-button {
  border-radius: 2px;
  background-color: var(--btn-secondary-color);
  color: var(--btn-text-color);
  padding: 0.2rem 0.5rem;
}

main {
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

#welcome {
  margin: 7rem auto;
  max-width: 600px;
}

#welcome h1 {
  text-align: center;
}

#welcome ul {
  list-style: disc;
  padding-left: 1rem;
}

.start-button {
  margin: 1rem auto;
  padding: 1rem;
  min-width: 50%;
  letter-spacing: 0.2em;
  font-weight: bold;
  background-color: var(--btn-primary-color);
  color: var(--btn-text-color);
}

#questions {
  margin: 3rem auto;
  max-width: 800px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.question-text {
  margin-bottom: 0.5rem;
}

.answers {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 100%;
}

.answers button {
  background-color: var(--btn-primary-color);
  color: var(--btn-text-color);
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: start;
}

.answer-feedback {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.answer-feedback::before {
  position: absolute;
  bottom: 1.5em;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
}

.answer-feedback {
  font-style: italic;
}

#result {
  margin: 3rem auto;
  max-width: 800px;
}

#result h3 {
  margin-bottom: 1rem;
}

#result form {
  margin-top: 0.5rem;
  gap: 1.5rem;
}

.form-inputs {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.form-inputs input {
  flex-grow: 1;
  padding: 0.3rem;
  font-size: 1rem;
}

.save-result {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--btn-primary-color);
  color: var(--btn-text-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 3rem auto;
  border: 0.125rem solid var(--secondary-color);
}

caption {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.625rem;
}

thead td {
  padding: 0.625rem;
  text-align: left;
  font-weight: bold;
  background-color: var(--btn-primary-color);
  color: var(--btn-text-color);
  border: 0.125rem solid var(--secondary-color);
}

tbody td {
  padding: 0.5rem;
  border: 0.125rem solid var(--secondary-color);
}

tbody tr:nth-child(even) {
  background-color: var(--table-bg);
}

.table-actions {
  justify-content: space-between;
}

.table-actions button {
  color: var(--btn-text-color);
  background-color: var(--btn-primary-color);
  padding: 0.5rem;
  width: 47%;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 0.5rem;
}
